/*
 * main css start
 */
 .main {
    margin-top: 20px;
}
 .swiper-container {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
}  
.swiper-slide {
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    overflow: hidden;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.news-list {
    width: 100%;
    margin-bottom: 20px;
}
.news-item {
    float: left;
    width: 340px;
    margin-right: 22px;
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.news-item:last-child {
    margin-right: 0;
}
.news-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 1.6;
    border-bottom: 2px solid #1f1f96;
}
.new-item-item {
    margin-bottom: 5px;
}
.new-item-item a {
    display: block;
    text-decoration: underline;
}
/*
 * main css end
 */