/* 
 * 产品选型页面 start
 */
.product-choice {
    margin-top: 40px;
}
.product-tab, .product-info {
    float: left;
    width: 558px;
}
.product-tab {
    position: relative;
    margin-right: 40px;
}
.tab-list {
    position: absolute;
    top: 0;
    left: 0;
}
.tab-list  .tab-item {
    width: 78px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    background: #eee;
    cursor: pointer;
}
.tab-list  .tab-item.current {
    background: #fff;
    border-right-color: #fff;
}
.tab-list  .tab-item:not(:last-child) {
    border-bottom: none;
}
.tab-content-list {
    margin-left: 79px;
    padding: 20px;
    border: 1px solid #ddd;
}
.tab-content-list h3 {
    margin-bottom: 15px;
}
.tab-content-list .pay-way-list {
    margin-bottom: 35px;
}
.tab-content-list .pay-way-item {
    margin-bottom: 10px;
}
.tab-content-list .range-item {
    position: relative;
    height: 60px;
    margin-bottom:28px;
}
.tab-content-list .range-item p {
    margin-bottom: 10px;
}
.tab-content-list .range-item .connect-value, 
.tab-content-list .range-item .save-value {
    position: absolute;
    top: 0;
    left: 320px;
    top: 20px;
    line-height: 20px;
    text-align: center;
}
.tab-content-list .range-item .connect-value span, 
.tab-content-list .range-item .save-value span {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.tab-content-list .range-item .slider-container {
    margin-left: 7px;
}
.submit-button {
    margin-left: 320px;
}
.product-info {
    border: 1px solid #ddd;
}
.product-info .product-info-title {
    padding: 10px 15px;
    background: lightblue;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.product-info .product-info-title.no-border-bottom {
    border-bottom: none;
}
.product-info .product-info-title.current + .product-info-content {
    height: 200px;
}
.product-info .product-info-content {
    height: 0;
    overflow: hidden;
}
.product-info .product-info-wraper {
    padding: 30px;
}
.product-info .product-info-wraper table {
    width: 100%;
    border-collapse: collapse;
}
.product-info .product-info-wraper td,
.product-info .product-info-wraper th {
    padding: 10px;
    text-align: center;
    border: 1px solid #555;
}
/* 
 * 产品选型页面 end
 */